<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="itcastCater" connectionString="data source=C:\传智播客\黑马班24期\07 经典三层架构-王承伟\2015-05-13.NET就业班-三层项目+SVN\资料\ItcastCater.db;version=3"/>
	</connectionStrings>
</configuration>